In [1]:
import numpy as np
import pandas as pd

In [3]:
# creating various series from various object types
labels = ["a","b","c"]
my_data=[10,20,30]
arr=np.array(my_data)
d={"a":10,"b":20,"c":30}

In [4]:
d

{'a': 10, 'b': 20, 'c': 30}

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

## Epic 2: Data Wrangling

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\gabb_\Code Academy\movies_2.csv") # Gathering data
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [4]:
df.shape

(616, 11)

In [5]:
df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [178]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [179]:
df.isnull

<bound method DataFrame.isnull of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [180]:
df.dropna

<bound method DataFrame.dropna of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [181]:
df.isna().sum()

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

## Epic 3: Data Cleaning & Exploratory Data Analysis

In [182]:
#get rid of the summary column - irrelevant data
df_copy=df.copy()
df_without_summary=df_copy.drop("Summary",axis=1)

In [183]:
# standardize:string are lower or upper case, measuremtn units like sm, heights, comun names should have underscore instead space between words, also column names should be all lower case
# use rename 
df_without_lower = df_without_summary.apply(lambda x: x.str.lower() if x.dtype == "object" else x)  
df_without_lower

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,look who's talking,pg-13,7500000.0,2.960000e+08,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,1.457933e+08,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,7.107992e+07,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,1.610017e+08,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,8.443162e+07,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,toy story 4,g,200000000.0,1.062000e+09,2019-06-11,animation,100.0,NaN,NaN
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,7.594000e+08,2019-07-13,thriller,136.0,NaN,NaN
613,614,the lion king,pg,250000000.0,1.632000e+09,2019-07-09,drama,118.0,NaN,NaN
614,615,avengers: endgame,pg-13,356000000.0,2.796000e+09,2019-04-22,action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
## rename, exchanging space with underscore
df_nospace = df_without_lower.rename(columns=lambda x: x.replace(' ', '_'))
df_nospace
df_final=df_nospace.copy()

In [191]:
# lowercasing the columns
df_nospace.columns = [x.lower() for x in df_nospace.columns]
df_nospace

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,look who's talking,pg-13,7500000.0,$296.0M,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,$145.8M,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,$71.1M,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,$161.0M,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,$84.4M,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,toy story 4,g,200000000.0,$1062.0M,2019-06-11,animation,100.0,NaN,NaN
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,$759.4M,2019-07-13,thriller,136.0,NaN,NaN
613,614,the lion king,pg,250000000.0,$1632.0M,2019-07-09,drama,118.0,NaN,NaN
614,615,avengers: endgame,pg-13,356000000.0,$2796.0M,2019-04-22,action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,$nanM,NaN,NaN,NaN,NaN,NaN

In [187]:
# how to add dollar sign for budget and gross and devide to M
def format(x):
    return "${:.1f}M".format(x/1000000)

In [190]:
df_nospace['gross'].apply(format)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [236]:
df_final.columns=[x.lower() for x in df_final.columns]
df_final

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000,296000000,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000,385900000,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000,1062000000,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000,759400000,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000,1632000000,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000,-2147483648,2019-04-22,action,181.0,6.9,240347.5

In [245]:
## rename certain comjuns and add currency and minutes
df_final.rename({'budget':'budget_$'}, axis=1, inplace=True)
df_final.rename({'gross':'gross_$'}, axis=1, inplace=True)
df_final.rename({'runtime':'runtime_min'}, axis=1, inplace=True)
df_final

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000,296000000,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000,385900000,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000,1062000000,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000,759400000,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000,1632000000,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000,-2147483648,2019-04-22,action,181.0,6.9,240347.5

In [233]:
# missing values
# Drop
df_final.drop([615], axis=0, inplace=True)

KeyError: '[615] not found in axis'

In [238]:
df_final

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000,296000000,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000,385900000,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000,1062000000,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000,759400000,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000,1632000000,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000,-2147483648,2019-04-22,action,181.0,6.9,240347.5

In [ ]:
### Impute
#     1. use Mean when we do not have many outliers (data is not skewed)
# used Median when there are outliers
# In a normally distributed data, one can get all the values that are within 2 standard deviations from the mean. 
# next fill in the missing values by generating random numbers between (mean — 2 * std) & (mean + 2 * std)
#     2. Use Linear Regression - one can calculate the best fit line between two variables, say house price vs. size m2
#     3. Hot-deck -copying values from other similar records - can be applied to numerical and categorical data. One can take the random approach where we fill in the missing value with a random value. Taking this approach one step further, one can first divide the dataset into teo groups
# (strata), based on some characteristic, say gender, and then fill in the missing values for different genders separately, at random.
#     4. Three. Flag - missing numberic value= 0 and missing categorical = missing
#     5. Things to take in considerationm 
#- missing values are not the same as default values - zero could be defualt or missing but not both
#- missing values are not unknown
#- some people didnt remember if they were bullied or not should be treated as unknown and NOT as missing

In [239]:
# fill nan values with AVG values
df_final["rating"].fillna(value=df_final["rating"].median(), inplace=True)
df_final["rating_count"].fillna(value=df_final["rating_count"].median(), inplace=True)
df_final

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000,296000000,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000,385900000,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000,1062000000,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000,759400000,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000,1632000000,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000,-2147483648,2019-04-22,action,181.0,6.9,240347.5

In [240]:
# drop duplicates
df_final.drop_duplicates()

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000,296000000,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000,385900000,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000,1062000000,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000,759400000,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000,1632000000,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000,-2147483648,2019-04-22,action,181.0,6.9,240347.5

In [204]:
# convert gross and budget to int64
df_final["budget ($)"].astype("Int64")

0        7500000
1        7500000
2       13000000
3       14000000
4       15000000
         ...
610    200000000
611    200000000
612    200000000
613    250000000
614    356000000
Name: budget ($), Length: 615, dtype: Int64

In [241]:
convert_dict = {'budget_$': 'Int64',
                'gross_$': 'Int64'
                }
 
df_integers = df_final.astype(convert_dict)
print(df_integers.dtypes)

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'budget_$' not found in columns."

In [243]:
df_integers.dtypes

movieid            int64
title             object
mpaa_rating       object
budget ($)         Int64
gross ($)          Int64
release_date      object
genre             object
runtime (min)    float64
rating           float64
rating_count     float64
dtype: object

In [244]:
pd.to_datetime(df_integers["release_date"])

0     1989-10-12
1     1989-12-13
2     1989-07-28
3     1989-12-20
4     1989-04-21
         ...
610   2019-05-13
611   2019-06-11
612   2019-07-13
613   2019-07-09
614   2019-04-22
Name: release_date, Length: 615, dtype: datetime64[ns]

In [227]:
df_integers.dtypes

movieid            int64
title             object
mpaa_rating       object
budget ($)         Int64
gross ($)          Int64
release_date      object
genre             object
runtime (min)    float64
rating           float64
rating_count     float64
dtype: object

In [215]:
df_integers['release_date'] = pd.to_datetime(df_final['release_date'])

In [228]:
df_integers.dtypes

movieid            int64
title             object
mpaa_rating       object
budget ($)         Int64
gross ($)          Int64
release_date      object
genre             object
runtime (min)    float64
rating           float64
rating_count     float64
dtype: object

In [ ]:
# outliers
# any data that lies ore than 1.5 * IQR away from the Q1 and Q3 quartiles is considered an outlier
# outliers are innocent  until proven guilty. They should not be removed unless there is a good reason for that.
# linear regression is very sensitive to outliers- outliers might throw the model off from where most of the data lie

In [274]:
df_integers.rename({'budget_$':'budget$'}, axis=1, inplace=True)
df_integers.rename({'gross_$':'gross$'}, axis=1, inplace=True)
df_integers.rename({'runtime (min)':'runtime_min'}, axis=1, inplace=True)

In [268]:
df_integers

,movieid,title,mpaa_rating,budget_$,gross_$,release_date,genre,runtime_min,rating,rating_count
0,1,look who's talking,pg-13,7500000,296000000,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000,385900000,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000,1062000000,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000,759400000,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000,1632000000,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000,-2147483648,2019-04-22,action,181.0,6.9,240347.5

In [294]:
df_integers.rename({'budget$':'budget_in_dollar'}, axis=1, inplace=True)
df_integers.rename({'gross$':'gross_in_dollar'}, axis=1, inplace=True)
df_integers.rename({'runtime (min)':'runtime_min'}, axis=1, inplace=True)

In [295]:
df_integers.dtypes

movieid               int64
title                object
mpaa_rating          object
budget_in_dollar      Int64
gross_in_dollar       Int64
release_date         object
genre                object
runtime_min         float64
rating              float64
rating_count        float64
dtype: object

In [296]:
# show the movies with more than 7 in Rating & greater than 50 million Gross
df_filter1=df_integers[df_integers.rating > 7]
df_filter1

,movieid,title,mpaa_rating,budget_in_dollar,gross_in_dollar,release_date,genre,runtime_min,rating,rating_count
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
6,7,when harry met sally...,r,16000000,92800000,1989-07-21,romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,big hero 6,pg,165000000,652105443,2014-10-24,animation,102.0,7.8,380953.0
506,507,interstellar,pg-13,165000000,675120017,2014-11-05,science fiction,169.0,8.6,1343549.0
507,508,captain america: the winter soldier,pg-13,170000000,714766572,2014-03-20,action,136.0,7.7,685903.0
508,509,dawn of the planet of the apes,pg-13,170000000,710644566,2014-06-26,science fiction,130.0,7.6,395425.0
509,510,guardians of the galaxy,pg-13,170000000,773328629,2014-07-30,action,121.0,8.0,978222.0

In [297]:
df_filter1.dtypes

movieid               int64
title                object
mpaa_rating          object
budget_in_dollar      Int64
gross_in_dollar       Int64
release_date         object
genre                object
runtime_min         float64
rating              float64
rating_count        float64
dtype: object

In [300]:
df_filter2=df_filter1[df_filter1.gross_in_dollar > 50000000]
df_filter2

,movieid,title,mpaa_rating,budget_in_dollar,gross_in_dollar,release_date,genre,runtime_min,rating,rating_count
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000,161001698,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
6,7,when harry met sally...,r,16000000,92800000,1989-07-21,romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,big hero 6,pg,165000000,652105443,2014-10-24,animation,102.0,7.8,380953.0
506,507,interstellar,pg-13,165000000,675120017,2014-11-05,science fiction,169.0,8.6,1343549.0
507,508,captain america: the winter soldier,pg-13,170000000,714766572,2014-03-20,action,136.0,7.7,685903.0
508,509,dawn of the planet of the apes,pg-13,170000000,710644566,2014-06-26,science fiction,130.0,7.6,395425.0
509,510,guardians of the galaxy,pg-13,170000000,773328629,2014-07-30,action,121.0,8.0,978222.0

In [306]:
#show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating
filtered_df_integers=df_integers[(df_integers['rating'] > 7) & (df_integers['gross_in_dollar'] >50000000) & (df_integers['mpaa_rating']== 'pg')]
filtered_df_integers

,movieid,title,mpaa_rating,budget_in_dollar,gross_in_dollar,release_date,genre,runtime_min,rating,rating_count
1,2,driving miss daisy,pg,7500000,145793296,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000,71079915,1989-07-28,crime,100.0,7.2,91415.0
4,5,field of dreams,pg,15000000,84431625,1989-04-21,drama,107.0,7.5,101702.0
7,8,dead poets society,pg,16400000,235860116,1989-06-02,drama,129.0,8.1,382002.0
13,14,batman,pg,35000000,411348924,1989-06-23,action,126.0,7.5,319517.0
15,16,the little mermaid,pg,40000000,222300000,1989-11-17,animation,83.0,7.6,219221.0
16,17,back to the future part ii,pg,40000000,332000000,1989-11-20,science fiction,108.0,7.8,438940.0
19,20,steel magnolias,pg,15000000,95904091,1989-11-15,drama,119.0,7.3,43037.0
24,25,home alone,pg,18000000,476684675,1990-11-09,family,103.0,7.6,414472.0
32,33,the hunt for red october,pg,30000000,199200000,1990-03-02,thriller,134.0,7.6,167212.0
34,35,back to the future part iii,pg,40000000,244527583,1990-05-25,family,118.0,7.4,369652.0
45,46,teenage mutant ninja turtles ii,pg,25000000,78600000,1991-03-22,action,88.0,8.0,397467.0
46,47,beauty and the beast,pg,25000000,377350553,1991-11-13,animation,84.0,8.0,397467.0
49,50,star trek vi: the undiscovered country,pg,27000000,96900000,1991-12-05,science fiction,113.0,7.2,66086.0
72,73,a league of their own,pg,40000000,107458785,1992-07-01,comedy,128.0,7.2,85932.0
80,81,groundhog day,pg,14600000,70906973,1993-02-11,comedy,101.0,8.0,549538.0
106,107,star trek: generations,pg,38000000,120000000,1994-11-17,science fiction,118.0,8.5,869127.0
126,127,mr. holland's opus,pg,31000000,106269971,1995-12-29,family,137.0,7.3,33906.0
130,131,apollo 13,pg,52000000,355237933,1995-06-30,drama,140.0,7.6,250975.0
174,175,contact,pg,90000000,171120329,1997-07-11,science fiction,150.0,7.4,239569.0
185,186,the truman show,pg,60000000,264118201,1998-06-04,comedy,103.0,8.1,859224.0
188,189,the prince of egypt,pg,70000000,218613188,1998-12-15,animation,99.0,7.1,110340.0
215,216,tarzan,pg,150000000,448000000,1999-06-18,animation,88.0,7.3,187724.0
220,221,remember the titans,pg,30000000,136706683,2000-09-29,drama,113.0,7.8,186997.0
241,242,shrek,pg,60000000,484409218,2001-05-16,animation,90.0,7.8,574978.0
255,256,harry potter and the sorcerer's stone,pg,125000000,975100000,2001-11-04,fantasy,152.0,7.6,583224.0
261,262,ice age,pg,59000000,383257136,2002-03-10,animation,81.0,7.5,411963.0
270,271,harry potter and the chamber of secrets,pg,100000000,876688482,2002-11-13,fantasy,161.0,7.4,505027.0
304,305,the incredibles,pg,92000000,631442092,2004-11-05,animation,115.0,8.0,617102.0
309,310,harry potter and the prisoner of azkaban,pg,130000000,789804554,2004-05-31,fantasy,141.0,7.9,501648.0
311,312,shrek 2,pg,150000000,919838758,2004-05-19,animation,93.0,7.2,391295.0
385,386,kung fu panda,pg,130000000,631744560,2008-06-04,animation,90.0,7.5,390478.0
410,411,monsters vs aliens,pg,175000000,381509870,2009-03-19,animation,94.0,7.7,374981.0
411,412,up,pg,175000000,735099082,2009-05-13,animation,96.0,8.2,867393.0
415,416,harry potter and the half-blood prince,pg,250000000,933959197,2009-07-07,fantasy,153.0,7.6,429384.0
420,421,despicable me,pg,69000000,543513985,2010-07-08,animation,95.0,7.6,473121.0
425,426,megamind,pg,130000000,321887208,2010-10-28,animation,95.0,7.2,212563.0
428,429,how to train your dragon,pg,165000000,494878759,2010-03-05,animation,98.0,8.1,624128.0
435,436,tangled,pg,260000000,591794936,2010-11-24,animation,100.0,7.7,374981.0
447,448,puss in boots: the three diablos,pg,130000000,555000000,2011-12-08,animation,130.0,7.8,727724.0
451,452,kung fu panda 2,pg,150000000,665692281,2011-05-25,animation,91.0,7.2,234612.0
461,462,hotel transylvania,pg,85000000,358375603,2012-09-20,animation,91.0,7.1,208916.0
466,467,wreck-it ralph,pg,165000000,471222889,2012-11-01,animation,108.0,7.7,354202.0
468,469,brave,pg,185000000,538983207,2012-06-21,animation,93.0,7.1,346490.0
480,481,despicable me 2,pg,76000000,970761885,2013-06-25,animation,98.0,7.4,350582.0
484,485,the croods,pg,135000000,585178928,2013-03-20,animation,98.0,7.2,180043.0
485,486,frozen,pg,150000000,1274219009,2013-11-27,animation,102.0,7.5,527284.0
498,499,the lego movie,pg,60000000,469160692,2014-02-06,animation,100.0,7.8,309295.0
503,504,how to train your dragon 2,pg,145000000,609123048,2014-06-12,animation,102.0,7.8,285394.0
505,506,big hero 6,pg,165000000,652105443,2014-10-24,animation,102.0,7.8,380953.0

In [307]:
df_integers.dtypes

movieid               int64
title                object
mpaa_rating          object
budget_in_dollar      Int64
gross_in_dollar       Int64
release_date         object
genre                object
runtime_min         float64
rating              float64
rating_count        float64
dtype: object

In [308]:
# count of Animation movies with more than 7 in Rating (use the shape() function)

filtered_animation=df_integers[(df_integers['genre'] =='animation') & (df_integers['rating'] >7)]
filtered_animation

,movieid,title,mpaa_rating,budget_in_dollar,gross_in_dollar,release_date,genre,runtime_min,rating,rating_count
15,16,the little mermaid,pg,40000000,222300000,1989-11-17,animation,83.0,7.6,219221.0
46,47,beauty and the beast,pg,25000000,377350553,1991-11-13,animation,84.0,8.0,397467.0
65,66,aladdin,g,28000000,504050219,1992-11-25,animation,90.0,8.0,336384.0
107,108,the lion king,g,45000000,788241776,1994-06-23,animation,89.0,8.5,869127.0
123,124,toy story,g,30000000,373554033,1995-10-30,animation,81.0,8.3,820625.0
171,172,hercules,g,85000000,252712101,1997-06-26,animation,93.0,7.3,188044.0
188,189,the prince of egypt,pg,70000000,218613188,1998-12-15,animation,99.0,7.1,110340.0
191,192,mulan,g,90000000,304320254,1998-06-18,animation,88.0,7.6,229669.0
194,195,a bug's life,g,120000000,363258859,1998-11-25,animation,95.0,7.2,251436.0
211,212,toy story 2,g,90000000,497366869,1999-10-30,animation,92.0,7.9,489299.0
215,216,tarzan,pg,150000000,448000000,1999-06-18,animation,88.0,7.3,187724.0
241,242,shrek,pg,60000000,484409218,2001-05-16,animation,90.0,7.8,574978.0
261,262,ice age,pg,59000000,383257136,2002-03-10,animation,81.0,7.5,411963.0
286,287,finding nemo,g,94000000,940335536,2003-05-30,animation,100.0,8.1,887773.0
304,305,the incredibles,pg,92000000,631442092,2004-11-05,animation,115.0,8.0,617102.0
311,312,shrek 2,pg,150000000,919838758,2004-05-19,animation,93.0,7.2,391295.0
349,350,cars,g,120000000,461983149,2006-06-08,animation,117.0,7.1,338715.0
369,370,ratatouille,g,150000000,623722818,2007-06-22,animation,111.0,8.0,594171.0
385,386,kung fu panda,pg,130000000,631744560,2008-06-04,animation,90.0,7.5,390478.0
391,392,wall-e,g,180000000,533300000,2008-06-23,animation,97.0,7.6,429384.0
410,411,monsters vs aliens,pg,175000000,381509870,2009-03-19,animation,94.0,7.7,374981.0
411,412,up,pg,175000000,735099082,2009-05-13,animation,96.0,8.2,867393.0
420,421,despicable me,pg,69000000,543513985,2010-07-08,animation,95.0,7.6,473121.0
425,426,megamind,pg,130000000,321887208,2010-10-28,animation,95.0,7.2,212563.0
428,429,how to train your dragon,pg,165000000,494878759,2010-03-05,animation,98.0,8.1,624128.0
433,434,toy story 3,g,200000000,1066969703,2010-06-16,animation,103.0,8.3,705408.0
435,436,tangled,pg,260000000,591794936,2010-11-24,animation,100.0,7.7,374981.0
447,448,puss in boots: the three diablos,pg,130000000,555000000,2011-12-08,animation,130.0,7.8,727724.0
451,452,kung fu panda 2,pg,150000000,665692281,2011-05-25,animation,91.0,7.2,234612.0
461,462,hotel transylvania,pg,85000000,358375603,2012-09-20,animation,91.0,7.1,208916.0
466,467,wreck-it ralph,pg,165000000,471222889,2012-11-01,animation,108.0,7.7,354202.0
468,469,brave,pg,185000000,538983207,2012-06-21,animation,93.0,7.1,346490.0
480,481,despicable me 2,pg,76000000,970761885,2013-06-25,animation,98.0,7.4,350582.0
484,485,the croods,pg,135000000,585178928,2013-03-20,animation,98.0,7.2,180043.0
485,486,frozen,pg,150000000,1274219009,2013-11-27,animation,102.0,7.5,527284.0
492,493,monsters university,g,200000000,743559607,2013-06-20,animation,104.0,7.3,299133.0
498,499,the lego movie,pg,60000000,469160692,2014-02-06,animation,100.0,7.8,309295.0
503,504,how to train your dragon 2,pg,145000000,609123048,2014-06-12,animation,102.0,7.8,285394.0
505,506,big hero 6,pg,165000000,652105443,2014-10-24,animation,102.0,7.8,380953.0

In [309]:
filtered_animation.shape

(39, 10)