In [1]:
import numpy as np
import pandas as pd

In [3]:
# creating various series from various object types
labels = ["a","b","c"]
my_data=[10,20,30]
arr=np.array(my_data)
d={"a":10,"b":20,"c":30}

In [4]:
d

{'a': 10, 'b': 20, 'c': 30}

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

## Epic 2: Data Wrangling

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\gabb_\Code Academy\movies_2.csv") # Gathering data
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [4]:
df.shape

(616, 11)

In [5]:
df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [178]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [179]:
df.isnull

<bound method DataFrame.isnull of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [180]:
df.dropna

<bound method DataFrame.dropna of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [181]:
df.isna().sum()

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

## Epic 3: Data Cleaning & Exploratory Data Analysis

In [182]:
#get rid of the summary column - irrelevant data
df_copy=df.copy()
df_without_summary=df_copy.drop("Summary",axis=1)

In [183]:
# standardize:string are lower or upper case, measuremtn units like sm, heights, comun names should have underscore instead space between words, also column names should be all lower case
# use rename 
df_without_lower = df_without_summary.apply(lambda x: x.str.lower() if x.dtype == "object" else x)  
df_without_lower

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,look who's talking,pg-13,7500000.0,2.960000e+08,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,1.457933e+08,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,7.107992e+07,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,1.610017e+08,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,8.443162e+07,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,toy story 4,g,200000000.0,1.062000e+09,2019-06-11,animation,100.0,NaN,NaN
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,7.594000e+08,2019-07-13,thriller,136.0,NaN,NaN
613,614,the lion king,pg,250000000.0,1.632000e+09,2019-07-09,drama,118.0,NaN,NaN
614,615,avengers: endgame,pg-13,356000000.0,2.796000e+09,2019-04-22,action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
## rename, exchanging space with underscore
df_nospace = df_without_lower.rename(columns=lambda x: x.replace(' ', '_'))
df_nospace
df_final=df_nospace.copy()

In [191]:
# lowercasing the columns
df_nospace.columns = [x.lower() for x in df_nospace.columns]
df_nospace

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,look who's talking,pg-13,7500000.0,$296.0M,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,$145.8M,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,$71.1M,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,$161.0M,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,$84.4M,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,toy story 4,g,200000000.0,$1062.0M,2019-06-11,animation,100.0,NaN,NaN
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,$759.4M,2019-07-13,thriller,136.0,NaN,NaN
613,614,the lion king,pg,250000000.0,$1632.0M,2019-07-09,drama,118.0,NaN,NaN
614,615,avengers: endgame,pg-13,356000000.0,$2796.0M,2019-04-22,action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,$nanM,NaN,NaN,NaN,NaN,NaN

In [187]:
# how to add dollar sign for budget and gross and devide to M
def format(x):
    return "${:.1f}M".format(x/1000000)

In [190]:
df_nospace['gross'].apply(format)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [195]:
df_final.columns=[x.lower() for x in df_final.columns]
df_final

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,look who's talking,pg-13,7500000.0,2.960000e+08,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,1.457933e+08,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,7.107992e+07,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,1.610017e+08,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,8.443162e+07,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,toy story 4,g,200000000.0,1.062000e+09,2019-06-11,animation,100.0,NaN,NaN
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,7.594000e+08,2019-07-13,thriller,136.0,NaN,NaN
613,614,the lion king,pg,250000000.0,1.632000e+09,2019-07-09,drama,118.0,NaN,NaN
614,615,avengers: endgame,pg-13,356000000.0,2.796000e+09,2019-04-22,action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
## rename certain comjuns and add currency and minutes
df_final.rename({'budget':'budget ($)'}, axis=1, inplace=True)
df_final.rename({'gross':'gross ($)'}, axis=1, inplace=True)
df_final.rename({'runtime':'runtime (min)'}, axis=1, inplace=True)
df_final

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000.0,2.960000e+08,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,1.457933e+08,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,7.107992e+07,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,1.610017e+08,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,8.443162e+07,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,toy story 4,g,200000000.0,1.062000e+09,2019-06-11,animation,100.0,NaN,NaN
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,7.594000e+08,2019-07-13,thriller,136.0,NaN,NaN
613,614,the lion king,pg,250000000.0,1.632000e+09,2019-07-09,drama,118.0,NaN,NaN
614,615,avengers: endgame,pg-13,356000000.0,2.796000e+09,2019-04-22,action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
# missing values
# Drop
df_final.drop([615], axis=0, inplace=True)

In [198]:
df_final

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000.0,2.960000e+08,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,1.457933e+08,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,7.107992e+07,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,1.610017e+08,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,8.443162e+07,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000.0,3.859000e+08,2019-05-13,adventure,132.0,NaN,NaN
611,612,toy story 4,g,200000000.0,1.062000e+09,2019-06-11,animation,100.0,NaN,NaN
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,7.594000e+08,2019-07-13,thriller,136.0,NaN,NaN
613,614,the lion king,pg,250000000.0,1.632000e+09,2019-07-09,drama,118.0,NaN,NaN
614,615,avengers: endgame,pg-13,356000000.0,2.796000e+09,2019-04-22,action,181.0,NaN,NaN

In [ ]:
### Impute
#     1. use Mean when we do not have many outliers (data is not skewed)
# used Median when there are outliers
# In a normally distributed data, one can get all the values that are within 2 standard deviations from the mean. 
# next fill in the missing values by generating random numbers between (mean — 2 * std) & (mean + 2 * std)
#     2. Use Linear Regression - one can calculate the best fit line between two variables, say house price vs. size m2
#     3. Hot-deck -copying values from other similar records - can be applied to numerical and categorical data. One can take the random approach where we fill in the missing value with a random value. Taking this approach one step further, one can first divide the dataset into teo groups
# (strata), based on some characteristic, say gender, and then fill in the missing values for different genders separately, at random.
#     4. Three. Flag - missing numberic value= 0 and missing categorical = missing
#     5. Things to take in considerationm 
#- missing values are not the same as default values - zero could be defualt or missing but not both
#- missing values are not unknown
#- some people didnt remember if they were bullied or not should be treated as unknown and NOT as missing

In [201]:
# fill nan values with AVG values
df_final["rating"].fillna(value=df_final["rating"].median(), inplace=True)
df_final["rating_count"].fillna(value=df_final["rating_count"].median(), inplace=True)
df_final

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000.0,2.960000e+08,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,1.457933e+08,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,7.107992e+07,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,1.610017e+08,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,8.443162e+07,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000.0,3.859000e+08,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000.0,1.062000e+09,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,7.594000e+08,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000.0,1.632000e+09,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000.0,2.796000e+09,2019-04-22,action,181.0,6.9,240347.5

In [202]:
# drop duplicates
df_final.drop_duplicates()

,movieid,title,mpaa_rating,budget ($),gross ($),release_date,genre,runtime (min),rating,rating_count
0,1,look who's talking,pg-13,7500000.0,2.960000e+08,1989-10-12,romance,93.0,5.9,73638.0
1,2,driving miss daisy,pg,7500000.0,1.457933e+08,1989-12-13,comedy,99.0,7.4,91075.0
2,3,turner & hooch,pg,13000000.0,7.107992e+07,1989-07-28,crime,100.0,7.2,91415.0
3,4,born on the fourth of july,r,14000000.0,1.610017e+08,1989-12-20,war,145.0,7.2,91415.0
4,5,field of dreams,pg,15000000.0,8.443162e+07,1989-04-21,drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,godzilla: king of the monsters,pg-13,200000000.0,3.859000e+08,2019-05-13,adventure,132.0,6.9,240347.5
611,612,toy story 4,g,200000000.0,1.062000e+09,2019-06-11,animation,100.0,6.9,240347.5
612,613,fast & furious presents: hobbs & shaw,pg-13,200000000.0,7.594000e+08,2019-07-13,thriller,136.0,6.9,240347.5
613,614,the lion king,pg,250000000.0,1.632000e+09,2019-07-09,drama,118.0,6.9,240347.5
614,615,avengers: endgame,pg-13,356000000.0,2.796000e+09,2019-04-22,action,181.0,6.9,240347.5

In [204]:
# convert gross and budget to int64
df_final["budget ($)"].astype("Int64")

0        7500000
1        7500000
2       13000000
3       14000000
4       15000000
         ...
610    200000000
611    200000000
612    200000000
613    250000000
614    356000000
Name: budget ($), Length: 615, dtype: Int64

In [221]:
convert_dict = {'budget ($)': 'Int64',
                'gross ($)': 'Int64'
                }
 
df_integers = df_final.astype(convert_dict)
print(df_integers.dtypes)

movieid            int64
title             object
mpaa_rating       object
budget ($)         Int64
gross ($)          Int64
release_date      object
genre             object
runtime (min)    float64
rating           float64
rating_count     float64
dtype: object

In [225]:
df_integers.dtypes

movieid            int64
title             object
mpaa_rating       object
budget ($)         Int64
gross ($)          Int64
release_date      object
genre             object
runtime (min)    float64
rating           float64
rating_count     float64
dtype: object

In [226]:
pd.to_datetime(df_integers["release_date"])

0     1989-10-12
1     1989-12-13
2     1989-07-28
3     1989-12-20
4     1989-04-21
         ...
610   2019-05-13
611   2019-06-11
612   2019-07-13
613   2019-07-09
614   2019-04-22
Name: release_date, Length: 615, dtype: datetime64[ns]

In [227]:
df_integers.dtypes

movieid            int64
title             object
mpaa_rating       object
budget ($)         Int64
gross ($)          Int64
release_date      object
genre             object
runtime (min)    float64
rating           float64
rating_count     float64
dtype: object

In [215]:
df_integers['release_date'] = pd.to_datetime(df_final['release_date'])

In [228]:
df_integers.dtypes

movieid            int64
title             object
mpaa_rating       object
budget ($)         Int64
gross ($)          Int64
release_date      object
genre             object
runtime (min)    float64
rating           float64
rating_count     float64
dtype: object