In [250]:
print("Hello sweeties")

Hello sweeties

In [251]:
my_name="Gabriela"
my_name

'Gabriela'

In [252]:
age=38
age
julia_age=32
age_diff=age-julia_age
age_diff

6

In [4]:
julia_age=32
age=70
limit_age=60
same=("Your age is equal to the age  given")
over_32=("Your are older than 32! HORRIBLE!")
child=("Your are younger than Julia!")
old= ("Old")

In [6]:
julia_age=32
age=70
limit_age=60
same=("Your age is equal to the age  given")
over_32=("Your are older than 32! HORRIBLE!")
child=("Your are younger than Julia!")
old= ("Old")
if age==julia_age:
 print(same)
elif age>julia_age and age<limit_age:
    print(over_32)
elif age<julia_age:
  print(child)
else:
 print(old)

Old

In [255]:
my_list=["Patricia", "Andres", "Oti", "Lucas","Gabi", "Muayad", "Killian"]
my_list.sort()
print(my_list[0],my_list[-1])
for x in my_list:
    print(x)

Andres Patricia
Andres
Gabi
Killian
Lucas
Muayad
Oti
Patricia

In [256]:
# 7 print even number in a list usig a for loop
#my list of ages
my_class_age = [27, 29, 30, 45, 38, 33]
print((my_class_age)[0], (my_class_age)[1], (my_class_age)[2], (my_class_age)[3], (my_class_age)[4],(my_class_age)[5])
# iterating each number in list
for num in my_class_age:
    if num % 2 == 0:
       print(num)

27 29 30 45 38 33
30
38

In [257]:
# using while loop for excercose 7
#my list of ages
my_class_age = [27, 29, 30, 45, 38, 33]
num = 0
 
# Uing while loop
while(num < len(my_class_age)):
 
    # Cecking condition
    if my_class_age[num] % 2 == 0:
        print(my_class_age[num])
 
    # increment num
    num += 1

30
38

#Minimum and Maximum number from a list

In [258]:
list_random_numbers=[35,2,-1,22,100,25]
list_random_numbers.sort()
print("Smallest number is:",list_random_numbers[0],'\n',  "Highest number is:", list_random_numbers[-1])

Smallest number is: -1
 Highest number is: 100

In [259]:
print(min(list_random_numbers)," ", max(list_random_numbers))

-1   100

### 10 Calculate age from year of birth

In [260]:
# my variant
list_year_of_births=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
age=0
for x in list_year_of_births:
        age=2024-x
        print(age)

25
29
19
14
17
18
30
28
45
16

In [261]:
#exercise 10
list_BirthYear = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
year = 2024
for num in list_BirthYear:
   customer = year - num
   print("the age of customer", list_BirthYear.index(num), " is: ",  customer)
num += 1

the age of customer 0  is:  25
the age of customer 1  is:  29
the age of customer 2  is:  19
the age of customer 3  is:  14
the age of customer 4  is:  17
the age of customer 5  is:  18
the age of customer 6  is:  30
the age of customer 7  is:  28
the age of customer 8  is:  45
the age of customer 9  is:  16

### 11 Customer names and year of birth

In [262]:
# Use a loop to iterate over the list and print the name and age of each customer.
customer_list = [{"name": "Bob", "age": 1999}, {"name": "Jack", "age": 1995}, {"name": "Lisa", "age": 2005}, {"name": "Maria", "age": 2010}, {"name": "Ben", "age": 2007}, {"name": "Emma", "age": 2006}, {"name": "Oscar", "age": 1994}, {"name": "Amy", "age": 1996}, {"name": "Paul", "age": 1979}, {"name": "Etta", "age": 2008}]
a=2024
for x in customer_list:
    real_age=a-x["age"]
    print(x["name"], real_age)

Bob 25
Jack 29
Lisa 19
Maria 14
Ben 17
Emma 18
Oscar 30
Amy 28
Paul 45
Etta 16

In [263]:
customer_list = [{"name": "Bob", "age": 1999}, {"name": "Jack", "age": 1995}, {"name": "Lisa", "age": 2005}, {"name": "Maria", "age": 2010}, {"name": "Ben", "age": 2007}, {"name": "Emma", "age": 2006}, {"name": "Oscar", "age": 1994}, {"name": "Amy", "age": 1996}, {"name": "Paul", "age": 1979}, {"name": "Etta", "age": 2008}]
a=2024
for x in customer_list:
    real_age=a-x["age"]
    print(x["name"], "is", real_age)

Bob is 25
Jack is 29
Lisa is 19
Maria is 14
Ben is 17
Emma is 18
Oscar is 30
Amy is 28
Paul is 45
Etta is 16

### 12 Given a list of ages, remove the youngest and the oldest person.

In [264]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.sort()
ages.pop(-1)
ages.pop(0)
ages
# using max and min method

ages_new = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages_new.remove(max(ages_new))
ages_new.remove(min(ages_new))
ages_new.sort()
ages.sort()
print(ages_new, ages)

[11, 12, 13, 14, 20, 23, 24, 25] [11, 12, 13, 14, 20, 23, 24, 25]

### 13 The task is to create an other list with the common ages.

In [265]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
list(set(munich).intersection(berlin))

[10, 13, 15, 16, 18, 19]

In [266]:
# with a for loop
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common_list=[]

for x in berlin:
    if x in munich:
        common_list.append(x)
print(common_list)

[15, 13, 16, 18, 19, 10]

### 14 Remove duplicate from a list

In [267]:
# using list set
ages=[15,13,16,18,19,15,10]
list(set(ages))

[10, 13, 15, 16, 18, 19]

In [268]:
# with a loop-adding items from ome list to another(empty) if they do not exist
ages=[15,13,16,18,19,15,10]
s = []
for i in ages:
       if i not in s:
          s.append(i)
s

[15, 13, 16, 18, 19, 10]

### 15 Exercise 15

Function name: welcome

welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!'

welcome('Jost'), it would print - 'Welcome Jost, have a nice day!'

In [269]:
def welcome(name):
    print("Welcome",name,", have a great day!")
    print(f"Welcome {name}, have a nice day!")

In [270]:
welcome("People")

Welcome People , have a great day!
Welcome People, have a nice day!

In [271]:
welcome("children")

Welcome children , have a great day!
Welcome children, have a nice day!

### Exercise 16
Write a function that takes a string as input and calculates the length.

Function name: get_length

get_length('Hello') would print / return 5.

get_length('Hi') would print / return 2.

In [272]:
def count_string_length(string_to_be_counted):
 count=0
 for letter in string_to_be_counted:
    count=count + 1
 print(count)

In [273]:
count_string_length("Crazy stuff")

11

### 17 Write a function which checks whether a number is even.

Function name: check_even

check_even(6) would print / return 'Yes'

check_even(5) would print / return 'No'

In [274]:
def check_even(number):
  if number %2==0:
    print('YES')
  else:
    print('NO')

In [275]:
check_even(78)

YES

### 18 Rewrite exercises 11, 12, 13, 14, 15 in a function.

## Excercise 11

In [276]:
# Use a loop to iterate over the list and print the name and age of each customer.
customer_list = [{"name": "Bob", "age": 1999}, {"name": "Jack", "age": 1995}, {"name": "Lisa", "age": 2005}, {"name": "Maria", "age": 2010}, {"name": "Ben", "age": 2007}, {"name": "Emma", "age": 2006}, {"name": "Oscar", "age": 1994}, {"name": "Amy", "age": 1996}, {"name": "Paul", "age": 1979}, {"name": "Etta", "age": 2008}]
def function(random_customer_list):
   a=2024
   for x in random_customer_list:
    real_age=a-x["age"]
    print(x["name"], "is", real_age)

   
    
function(customer_list)

Bob is 25
Jack is 29
Lisa is 19
Maria is 14
Ben is 17
Emma is 18
Oscar is 30
Amy is 28
Paul is 45
Etta is 16

## Excercise 12

In [277]:
def list_no_min_max(list_one):
  list_one.sort()
  list_one.pop(-1)
  list_one.pop(0)
  list_one
  return list_one



list_two=[1,48,3,34,5,6,7,18]
list_no_min_max(list_two)

[3, 5, 6, 7, 18, 34]

## Excercise 13

In [278]:
def list_common_values(list_one,list_two,common_list):
    for x in list_one:
         if x in list_two:
           common_list.append(x)
    print(sorted(common_list))

In [279]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common =[]

In [280]:
list_common_values(berlin,munich,common)

[10, 13, 15, 16, 18, 19]

## Exercise 14

In [281]:
def function_duplicate_ages(list_ages,list_ages_no_dup):
    for i in list_ages:
       if i not in list_ages_no_dup:
          list_ages_no_dup.append(i)
    return sorted(list_ages_no_dup)

In [282]:
class_ages=[15,13,16,18,19,15,10]
class_ages_no_dup=[]

In [283]:
function_duplicate_ages(class_ages,class_ages_no_dup)

[10, 13, 15, 16, 18, 19]

## Exercise 19
Write a function that takes an input list and value of age to find as input and return true or false if the age value is present or not in the list.

In [284]:

def check_input_list(age,list_ages):
        if age in list_ages:
         print("True")
        else:
         print("False")

In [285]:
test_ages=[7,32,26]
check_input_list(int(input("Age?:")),test_ages)

True

## Python Workshop chocoBury Cookies

In [8]:
# Q1
# launched 2019
#list of ages=[1898, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
# The task is to write a function that returns the age of customers.

list_of_years= [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
print("Ages are:")
for y in list_of_years:
   age=2019-y
   print(age, end=", ")

Ages are:
20, 24, 14, 9, 12, 13, 25, 23, 40, 11,

In [287]:
## Q2
## outliers are youngest and oldest
## we need to remove the outliers
all_ages=[20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
age_min = all_ages [0]
age_max = all_ages [0]
for num in all_ages:
        if num < age_min:
            age_min = num
            all_ages.remove(age_min)
        if num > age_max:
            age_max = num
            all_ages.remove(age_max)
print(all_ages)

[20, 14, 12, 13, 23, 11]

## The Above is WRONG, why?

In [288]:
all_ages=[20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
all_ages.sort()
all_ages.pop(0)
all_ages.pop(-1)
all_ages

[11, 12, 13, 14, 20, 23, 24, 25]

In [289]:
### Q3
# berlin = [15, 13, 16, 18, 19, 10, 12 ]
# munich = [7, 13, 15, 20, 19, 18, 10, 16]
#common age value?
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common = []
for x in berlin:
    if x in munich:
      common.append(x)
print(common)

[15, 13, 16, 18, 19, 10]

In [290]:
#### Q4
""" The task is to write a function that takes the list with duplicate values as input and
return the list with unique age values."""

def no_duplicates(list_with_duplicates,new_list):
    for age in list_with_duplicates:
        if age not in new_list:
            new_list.append(age)
    print(new_list)

In [291]:
random_list=[34,34,55,56,12,47,40,12]
no_duplicates(random_list,[])

[34, 55, 56, 12, 47, 40]

In [292]:
##### Q5
"""The task is to write a function that takes an input list and value of age to find as input
and return true or false if the age value is present or not."""

def check_age(random_list):
    age=int(input())
    if age in random_list:
        print("True")
    else:
        print("False")

In [293]:
ages_course_January2024=[38, 25, 29, 30, 46, 27]
check_age(ages_course_January2024)

False

###  SET 1: Intermediate level

1. You are given an array (which will have a length of at least 3, but could be very
large) containing integers. The array is either entirely comprised of odd integers or
entirely comprised of even integers except for a single integer N.

Write a method that takes the array as an argument and returns this “outlier” N.

Sample test cases:
[2, 4, 0, 100, 4, 11, 2602, 36]
Should return: 11 (the only odd number)

[160, 3, 1719, 19, 11, 13, -21]
Should return: 160 (the only even number)

find_outlier([2, 4, 6, 8, 10, 3])
Should return: 3

In [297]:
# Should return: 11 (the only odd number)
array=[2, 4, 0, 100, 4, 11, 2602, 36]
for x in array:
   if x % 2!=0:
    print(x)

11

In [299]:
# Should return: 160 (the only even number)
random_number=[160, 3, 1719, 19, 11, 13, -21]
for x in random_number:
    if x %2==0:
     print(x)

160

In [333]:
# find_outlier:Should return: 3
# using COUNTER
from collections import Counter

def find_parity_outliers(nums):
  return [
    x for x in nums
    if x % 2 != Counter([n % 2 for n in nums]).most_common()[0][0]
  ]

In [335]:
list_5=[2, 4, 6, 8, 10, 3]
find_parity_outliers(list_5)

[3]

In [336]:
# solution 2

def find_outlier(x):
    odd = [i for i in x if i % 2 != 0]
    even = [i for i in x if i % 2 == 0]
    return odd[0] if len(odd) < len(even)else even[0]

In [338]:
find_outlier(random_number)

160

In [344]:
# another_try 3
def gabi_test(any_list):
    odd_list=[]
    even_list=[]
    for x in any_list:
        if x % 2 != 0:
            odd_list.append(x)
        if x % 2 == 0:
            even_list.append(x)
    return odd_list[0] if len(odd_list) <len(even_list) else even_list[0]

In [345]:
gabi_test(list_5)

3